#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
        &kp Q       &kp W         &kp E    &kp R        &kp T                    &kp Y   &kp U      &kp I    &kp O           &kp P
        &kp A       &kp S         &kp D  &lt 3 F        &kp G                    &kp H   &kp J      &kp K    &kp L        &kp SEMI
 &mt LSHIFT Z  &mt LALT X         &kp C    &kp V        &kp B                    &kp N   &kp M  &kp COMMA  &kp DOT  &mt RSHFT FSLH
                           &mt LGUI DEL           &lt 1 SPACE          &lt 2 BACKSPACE            &kp ESC
            >;
        };

        nav {
            bindings = <
 &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
                 &trans          &trans          &trans          &trans
            >;
        };

        fun {
            bindings = <
 &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
                 &trans          &trans          &trans          &trans
            >;
        };

        adj {
            bindings = <
 &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
                 &trans          &trans          &trans          &trans
            >;
        };
    };
};
